.favMain{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  
}

.fav{
    width: 400px;
    background:rgb(172, 172, 172);
    border: 2px solid rgba(255, 255, 255, 0.2);
    height: 110px;
    margin-bottom: 10px;

}

.FavImg{
    width: 100px;
    height: 100px;
}

.info{
position: relative;
bottom: 80px;
left: 1px;
font-size: 20px;
}
.auther{
    position: relative;
    bottom: 75px;
    left: 100px; 
}

.deleteFav{
    position: relative;
    left: 380px;
    bottom: 35px;
}


@media  (max-width: 490px) {
    .favMain{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        position: relative;
        left: 80px;
        
      }
      
      .fav{
          width: 300px;
          background:rgb(172, 172, 172);
          border: 2px solid rgba(255, 255, 255, 0.2);
          height: 110px;
          margin-bottom: 10px;
      
      }
      
      .FavImg{
          width: 100px;
          height: 100px;
      }
      
      .info{
      position: relative;
      bottom: 80px;
      left: 1px;
      font-size: 20px;
      }
      .auther{
          position: relative;
          bottom: 75px;
          left: 100px; 
      }
      
      .deleteFav{
          position: relative;
          left: 280px;
          bottom: 40px;
      }
}