*{
    margin: 0;
    padding: 0;
}
#navLink:hover{
    border-bottom: 2px solid rgb(155, 155, 155);
    border-end-start-radius: 5px;
    }
        
#navLink{
    text-decoration: none;
    font-weight: bold;
    translate: 5s; 
     
}

#navLink:link {
    text-decoration: none;
    
    /* color: rgb(48, 47, 48); */
}



.formbox1{
    background:rgba(185, 185, 185, 0.7);
    
    border-top: 10px solid var(--secondaryred);
    padding:2% 3%;
    margin-top: 10px;
    
}
.formbox1 *{
    margin: 0;
    
}
.formbox1 h3{
    font-family: var(--mainfont);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.formbox1 form label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0.3rem;
}
.formbox1 form .asd{
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: none;
    /* background: transparent; */
    height: 2.8rem;
    display: block;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 1rem;
}
form .mainbox{
    color: white;
    box-shadow: none;
    background: var(--secondaryred);
    height: 2.8rem;
    display: block;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    border: none;
}
a .mainbox{
    margin: 0;
    padding: 2%;
}

.loginDiv{
    width: 50%;
    margin: auto;
}





.mainHome{
    display: flex;
    /* justify-content: flex-end; */
    padding-top: 20px;
    
    width: 90%;
    
}
.leftSide{
    height: 100%;
    width: 33%;
    /* border: 1px solid black; */
    /* padding-bottom: 169px; */
}

.rightSide{
    height: 100%;
    width: 40%;
    /* border: 1px solid black; */
    border-style: outset;
    /* padding-bottom: 169px; */
    /* background-color: rgb(216, 216, 216); */

}

.center{
    height: 100%;
    width: 33%;
    /* border: 1px solid black; */
    /* padding-bottom: 169px; */
}


.favHome{
    margin-top: 10px;
    /* border: 1px solid black; */
    border-style: outset;
    display: flex;
}

.bookName{
    text-align: justify;
}

.HomeImg{
    width: 100px;
    height: 100px;
    margin: 0;
}

.des{
    white-space: nowrap; 
  width: 300px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.Homebook{
    /* display: flex; */
    /* border: 1px solid black; */
    border-style: outset;

    margin: 20px;
}
.HomebookImg{
    width: 100px;
    height: 150px;
    position: relative;
    top: 40px;
}

.HomePosts{
    /* display: flex; */
    border: 1px solid black;
    /* border-style: outset; */

    margin: 10px;
    padding-top: 10px;
    background-color: white;
}

.HomeLikeButton{
    display: flex;
    align-items: flex-end
}

.hide{
    white-space: pre-line; 
    width: 10px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.deletePostButton{
    position: relative;
    left: 370px;
}

.HomeBookInfo{
    position: relative;
    left: 110px;
    bottom: 115px;
}

.HomeUserInfo{
    position: relative;
    bottom: 135px;
    font-weight: bold;
    right: 80px;

}

.HomeIgm{
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 120px;
    right: 90px;
    border-radius: 50%;
}

.HomeDesc{
    font-size: 13px;
    position: relative;
    bottom: 30px;

}


.url{
    position: relative;
    bottom: 100px;
    left: 110px;
    background-color: rgb(77, 77, 77); 
    border: 3px solid rgb(77, 77, 77); 
border-width: 5px;
    color: white;  
}

.stars{
    position: relative;
    bottom: 110px;
    left: 110px;
}

.time{
    white-space: nowrap; 
    width: 150px; 
    overflow: hidden;
    text-overflow: clip; 
}

.addButton{
    background-color: rgb(209, 209, 209);
    position: relative;
    left: 130px;
    width: 100px;
    
    
}

.addButton:hover{
    background-color: rgb(112, 112, 112);
}

.review{
    background-color: rgb(167, 167, 167);
    border-radius: 5px;
    font-size: 15px;
    border: none;
    padding: 15px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    left: 270px;
    bottom: 25px;
}

.RecbookImg{
    width: 120px;
    height: 120px;
}

.RecHome{
    /* border: 1px solid black; */
    border-style: outset;

    margin: 10px;
    display: grid;
    height: 120px;
}


.nameRec{
    position: relative;
    bottom: 120px;
    left: 120px;
}

.autherRec{
    position: relative;
    bottom: 130px;
    left: 120px;
}

.Recurl{
    position: relative;
    bottom: 140px;
    left: 125px;   
    background-color: rgb(77, 77, 77); 
    border: 3px solid rgb(77, 77, 77); 
border-width: 5px;
    color: white;  
    width: 90px;
}

.Recstars{
    position: relative;
    bottom: 150px;
    left: 120px;
}

.discussion{
    position: relative;
    bottom: 10px;
    background-color: rgb(77, 77, 77); 
    border: 3px solid rgb(77, 77, 77); 
border-width: 5px;
    color: white; 
}





























































































@media  (max-width: 600px) {
    *{
        margin: 0;
        padding: 0;
    }
    #navLink:hover{
        border-bottom: 2px solid rgb(155, 155, 155);
        border-end-start-radius: 5px;
        }
            
    #navLink{
        text-decoration: none;
        font-weight: bold;
        translate: 5s; 
         
    }
    
    #navLink:link {
        text-decoration: none;
        
        /* color: rgb(48, 47, 48); */
    }
    
    
    
    .formbox1{
        background:rgb(34,43,49,0.7);
        color:white;
        
        border-top: 10px solid var(--secondaryred);
        padding:2% 3%;
        margin-top: 10px;
        
    }
    .formbox1 *{
        margin: 0;
        
    }
    .formbox1 h3{
        font-family: var(--mainfont);
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .formbox1 form label{
        color: rgba(255, 255, 255, 0.8);
        display: inline-block;
        max-width: 100%;
        margin-bottom: 0.3rem;
    }
    .formbox1 form .asd{
        border: 2px solid rgba(255, 255, 255, 0.2);
        box-shadow: none;
        /* background: transparent; */
        height: 2.8rem;
        display: block;
        width: 100%;
        border-radius: 4px;
        margin-bottom: 1rem;
    }
    form .mainbox{
        color: white;
        box-shadow: none;
        background: var(--secondaryred);
        height: 2.8rem;
        display: block;
        width: 100%;
        border-radius: 4px;
        margin-bottom: 10px;
        text-align: center;
        text-decoration: none;
        border: none;
    }
    a .mainbox{
        margin: 0;
        padding: 2%;
    }
    
    .loginDiv{
        width: 50%;
        margin: auto;
    }
    
    
    
    /* .whole{
        width: 100%;
    } */
    
    .mainHome{
        display: grid;
        justify-content: flex-end;
        width: 90%;
        padding-left: 70px;
    }
    .leftSide{
        height: 100%;
        width: 100%;
        /* border: 1px solid black; */
        padding-bottom: 169px;
    }
    
    .rightSide{
        height: 100%;
        width: 100%;
        /* border: 1px solid black; */
        border-style: outset;
        padding-bottom: 169px;
    }
    
    .center{
        height: 10px;
        width: 100%;
        /* border: 1px solid black; */
        padding-bottom: 169px;
    }
    
    
    .favHome{
        margin-top: 10px;
        /* border: 1px solid black; */
        border-style: outset;
        display: flex;
    }
    
    .bookName{
        text-align: justify;
    }
    
    .HomeImg{
        width: 100px;
        height: 100px;
        margin: 0;
    }
    
    .des{
        white-space: nowrap; 
      width: 300px; 
      overflow: hidden;
      text-overflow: ellipsis; 
    }
    
    .Homebook{
        /* display: flex; */
        /* border: 1px solid black; */
        border-style: outset;
        margin: 20px;
    }
    .HomebookImg{
        width: 100px;
        height: 150px;
        position: relative;
        top: 40px;
    }
    
    .HomePosts{
        /* display: flex; */
        /* border: 1px solid black; */
        border-style: outset;
        margin: 10px;
        padding-top: 10px;
    }
    
    .HomeLikeButton{
        display: flex;
        align-items: flex-end
    }
    
    .hide{
        white-space: pre-line; 
        width: 10px; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    .deletePostButton{
        position: relative;
        left: 270px;
        bottom: 9px;

    }
    
    .HomeBookInfo{
        position: relative;
        left: 110px;
        bottom: 115px;
    }
    
    .HomeUserInfo{
        position: relative;
        bottom: 135px;
        font-weight: bold;
        right: 80px;
    
    }
    
    .HomeIgm{
        width: 30px;
        height: 30px;
        position: relative;
        bottom: 120px;
        right: 90px;
        border-radius: 50%;
    }
    
    .HomeDesc{
        font-size: 13px;
        position: relative;
        bottom: 30px;
    
    }
    
    
    .url{
        position: relative;
        bottom: 100px;
        left: 110px;
        background-color: rgb(77, 77, 77); 
        border: 3px solid rgb(77, 77, 77); 
    border-width: 5px;
        color: white;  
    }
   
.stars{
    position: relative;
    bottom: 110px;
    left: 110px;
}

.time{
    white-space: nowrap; 
    width: 150px; 
    overflow: hidden;
    text-overflow: clip; 
}

.addButton{
    background-color: rgb(209, 209, 209);
    position: relative;
    left: 130px;
    width: 100px;
    
    
}

.addButton:hover{
    background-color: rgb(112, 112, 112);
}

.review{
    background-color: rgb(167, 167, 167);
    border-radius: 5px;
    font-size: 15px;
    border: none;
    padding: 15px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    left: 120px;
    bottom: 25px;
}

.RecbookImg{
    width: 120px;
    height: 120px;
}

.RecHome{
    /* border: 1px solid black; */
    border-style: outset;
    margin: 10px;
    display: grid;
    height: 120px;
}


.nameRec{
    position: relative;
    bottom: 120px;
    left: 120px;
    font-size: 13px;
}

.autherRec{
    position: relative;
    bottom: 130px;
    left: 120px;
}

.Recurl{
    position: relative;
    bottom: 140px;
    left: 125px;   
    background-color: rgb(77, 77, 77); 
    border: 3px solid rgb(77, 77, 77); 
border-width: 5px;
    color: white;  
    width: 90px;
}

.Recstars{
    position: relative;
    bottom: 150px;
    left: 120px;
}

.discussion{
    position: relative;
    bottom: 10px;
    background-color: rgb(77, 77, 77); 
    border: 3px solid rgb(77, 77, 77); 
border-width: 5px;
    color: white; 
}
}